{% extends "base.html" %}

{% block content %}
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Cryptoverse</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">The Cryptocurrency Portfolio Tracker</h2>
        <a href="/login" class="btn btn-primary js-scroll-trigger">SIGN IN</a>
      </div>
    </div>
  </header>

  <section id="projects" class="projects-section bg-black">
    <div class="container">

    <!-- Project One Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="/static/img/cryptotracker.jpg" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-white text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-black">Crypto Portfolio Tracker</h4>
                <p class="mb-0 text-black-50">Your portfolio tracker is the perfect tool to keep an eye on your portfolio by getting real time updates on your favourite Crypto projects!</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="/static/img/cryptofolio.jpg" alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-white text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-black">Cryptoverse</h4>
                <p class="mb-0 text-black-50">Check out the Cryptoverse to get a holistic overview of the current market conditions and instantly add them to your personal portfolio</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="/static/img/news.jpg" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-white text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-black">News & Upcoming</h4>
                <p class="mb-0 text-black-50">Never miss out on the latest news regarding the Crypto market and benefit from upcoming news related to new Crypto projects</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section id="contact" class="contact-section bg-black">
    <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Address</h4>
              <hr class="my-4">
              <div class="medium text-black-50">Cryptostreet 51A, 1024 Cryptotown, Cryptoverse</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="medium text-black-50">
                <a href="mailto:thecryptoverse@gmail.com">thecryptoverse@gmail.com</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Phone</h4>
              <hr class="my-4">
              <div class="medium text-black-50">+43 (676) 323-8795</div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <a href="https://github.com/StickoNinja" target="_blank" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; The Cryptoverse 2019
    </div>
  </footer>

{% endblock content %}

