{% extends "base.html" %}

  <section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

          <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
          <h2 class="text-white mb-5">Enter The Cryptoverse!</h2>

          <form method="post" action="/login" class="form-inline d-flex">
            <input type="email" name="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
          </form>
          <p></p>
           <form method="post" action="/login" class="form-inline d-flex">
            <input type="password" name="password" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputPassword" placeholder="Enter password...">
           </form>
          <p></p>
           <button type="submit" class="btn btn-primary mx-auto">Sign In</button>
        </div>
      </div>
    </div>
  </section>

{% block content %}
{% endblock content %}
