{% extends "base.html" %}

{% block content %}

<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Crypto Portfolio Tracker</h1>

      </div>
    </div>
  </header>

{% if not showAll %}
<form method="post" action="/portfolio/{{currentCrypto.code}}/add" class="form-inline d-flex">
    <input type="text" placeholder="id" name="id" value="{{currentCrypto.id}}">
    <input type="text" placeholder="imgLink" name="imgLink" value="{{currentCrypto.imgLink}}">
    <input type="text" placeholder="name" name="name" value="{{currentCrypto.name}}">
    <input type="text" placeholder="code" name="code" value="{{currentCrypto.code}}">
    <input type="text" placeholder="price" name="price" value="{{currentCrypto.price}}">
    <input type="text" placeholder="change" name="change" value="{{currentCrypto.change}}">

    <button type="submit" class="btn btn-primary mx-auto">Add</button>
</form>
{% endif %}


{% if showAll %}
<form method="post" action="/portfolio" class="form-inline d-flex">
    <input type="text" placeholder="id" name="id">
    <input type="text" placeholder="imgLink" name="imgLink">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="code" name="code">
    <input type="text" placeholder="price" name="price">
    <input type="text" placeholder="change" name="change">

      <button type="submit" class="btn btn-primary mx-auto">Add</button>
</form>

<table>
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Icon</th>
        <th scope="col">Name</th>
        <th scope="col">Code</th>
        <th scope="col">Price</th>
        <th scope="col">Change</th>

    </tr>
    </thead>
    <tbody>

    {% for crypto in cryptocurrencies %}
    <tr>
        <td>{{crypto.id}}</td>
        <td><a href="/portfolio/{{crypto.code}}"><img src="{{crypto.imgLink}}"></a></td>
        <td>{{crypto.name}}</td>
        <td>{{crypto.code}}</td>
        <td>{{crypto.price}}</td>
        <td>{{crypto.change}}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

<section id="contact" class="contact-section bg-black">
    <div class="container">
        <div class="social d-flex justify-content-center">
        <a href="https://github.com/StickoNinja" target="_blank" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
        </div>
    </div>
  </section>

</body>

  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; The Cryptoverse 2019
    </div>
  </footer>

{% endblock content %}
